<div class="container">
    <div class="row center-block col-xs-12 col-md-12">
        <div class="jumbotron">
            <h2>Access Denied</h2>
            <div class="alert alert-error">
                You might not have permission to view this directory or page using the credentials you supplied. <br />If you believe you should be able to view this directory or page, please contact your system administrator.
            </div>
            <p>
                <div col-xs-12 col-md-12>
                    <b>Path:</b>
                    {{AccessDenied.Path}}<br />
                </div>
            </p>
            <h4>Please click <a class="btn btn-default" ng-click="GoToLoginPage();">here</a> to go back to the login page.</h4>
        </div>
    </div>
</div>
