<div class="container">
    <div class="row center-block col-xs-12 col-md-12">
        <div class="jumbotron">
            <h2>Page No Found</h2>
            <p>
                <div col-xs-12 col-md-12>
                    <b>Path:</b>
                    {{PageNotFound.Path}}<br />
                </div>
            </p>
            <!--<div style="overflow:scroll">
                <pre>{{PageNotFound.Msgs}}</pre>
            </div>-->
            <h4>Please click <a class="btn btn-default" ng-click="GoToLoginPage();">here</a> to go back to the login page.</h4>
        </div>
    </div>
</div>
