<navbar></navbar>
<form name="CreateForm" class="form-horizontal" novalidate>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group required" ng-class="{ 'has-error' : !CreateForm.RoleName.$pristine && CreateForm.RoleName.$invalid }">
                <label class="control-label col-md-4">{{Captions.RoleName}}</label>
                <div class="col-md-4">
                    <input type="text" name="RoleName" class="form-control" ng-model="EntityRole.RoleName" requried-validate fieldcaption="{{Captions.RoleName}}" />
                </div>
            </div>
        </div>
    </div>
    <funlistdirective funslist="FunsList" displaypagenum="DisplayPageNum" pagesize="PageSize" spefundetaillist="SpeFunDetailList" msgboxtitle="msgBoxTitle"></funlistdirective>
    <br />
    <div class="row">
        <div class="col-md-1">
            <input type="submit" value="{{Captions.Save}}" class="btn btn-primary" ng-click="Create()" ng-disabled="!(!!EntityRole.RoleName)">
        </div>
        <div class="col-md-1">
            <a class="btn btn-default" role="button" ui-sref="Main.LURoleManage" ui-sref-opts="{reload:true}">{{Captions.BacktoList}}</a>
        </div>
    </div>
</form>